{% load static %}

<html>
    <head>
        <!--titolo sopra alla riga del Browser-->
        <title>ciao amore mio </title>
        <!-- necessario al fine di connettersi con bootstrap-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!--necessario a connettere il file CSS-->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    </head>

    <body>
        <div class="page-header">
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">CENA SABATO SERA A Via Padova,43</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
<!--blocco! Hai appena usato un template tag  per creare un area
 che che avrà dell'HTML all'interno. Questo codice HTML verrà da altri template
  che estenderanno questo-->
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>

<!--#Ti sei accorto che abbiamo utilizzato una notazione leggermente
diversa questa volta {{ post.title }} oppure 
{{ post.text }})? 
Stiamo introducendo i dati in ciascuno dei campi
definiti nel nostro modello Post.
Inoltre il comando |linebreaks introduce un filtro
che traduce gli accapo (la pressione del tasto
"invio" sulla tastiera) nel loro equivalente in HTML. -->

</html>